
<form (ngSubmit)="login()" [formGroup] = "loginFormGroup" class = "white">
  <div class="row">
    <div class="input-field col s12"  >
      <input [class.invalid] = "emlogin.control.isInvalidControl()"  type="text" id="email"  formControlName='email' appAutoFocus autofocus autocomplete="off" >
      <label [class.red-text] = "emlogin.control.isInvalidControl()" for="email" >Email</label>
      <app-error-message #emlogin [group] = "loginFormGroup" controlName = "email" ></app-error-message>
    </div>
  </div> 

  <div class="row">
    <div class="input-field col s12"  >
      <input [class.invalid] = "empassword.control.isInvalidControl()"  type="password" id="password" formControlName='password' appAutoFocus autofocus autocomplete="off" >
      <label [class.red-text] = "empassword.control.isInvalidControl()" for="password" >Password</label>
      <app-error-message #empassword [group] = "loginFormGroup" controlName = "password" ></app-error-message>
    </div>
  </div> 


    <div class="row" >
      <button class="btn waves-effect waves-light" [disabled]="!loginFormGroup.valid"   type="submit" name="action" >
        Login
      </button>
  </div>
</form>