/* You can add global styles to this file, and also import other style files */

.principal {
    width: 10   0%;
    max-width: 100%;
}

.alert.flash-message{
    position: absolute;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    width: 100%;
    padding: 10px;
}

.alert-success{
    color: #3c763d;
    background: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
