<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <form (ngSubmit)="save()" [formGroup] = "scheduleFormGroup">
    <div class="modal-content">
    
      <div class="row">
        <div class="input-field col s8">
          <select [(ngModel)]="schedule.patient_id" materialize = "material_select" [materializeSelectOptions]="patients" formControlName = "patient_id">
            <option  value = "" disabled selected>Choose a Patient</option>
            <option *ngFor = "let p of patients" value="{{p.id}}">{{p.name}}</option>
          </select>
          <label for="patient_id" data-error="wrong" data-success="right" >Patient</label>
          <app-error-message #emcategory [group] = "scheduleFormGroup" controlName = "patient_id" ></app-error-message>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s8 ">
          <select [(ngModel)]="schedule.dentist_id" materialize = "material_select" [materializeSelectOptions]="dentists" formControlName = "dentist_id">
            <option  value = "" disabled selected>Choose a Dentist</option>
            <option *ngFor = "let d of dentists" value="{{d.id}}">{{d.name}}</option>
          </select>
          <label for="dentist_id" data-error="wrong" data-success="right" >Dentist</label>
          <app-error-message #emcategory [group] = "scheduleFormGroup" controlName = "dentist_id" ></app-error-message>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4"  >
          <input [class.invalid] = "emestimated_time.control.isInvalidControl()"  type="text" id="estimated_time" [(ngModel)]="schedule.estimated_time" formControlName='estimated_time' autofocus autocomplete="off" >
          <label [class.red-text] = "emestimated_time.control.isInvalidControl()" for="estimated_time" >Estimated Time</label>
          <app-error-message #emestimated_time [group] = "scheduleFormGroup" controlName = "estimated_time" ></app-error-message>
        </div>

        <div class="input-field col s4"  >
          <input  type="text" [value]="schedule.schedule_time | date" autofocus autocomplete="off" readonly >
          <label >Schedule Date</label>
        </div>

        <div class="input-field col s4"  >
          <input [class.invalid] = "emschedule_time.control.isInvalidControl()"  type="text"  id="schedule_time" [(ngModel)]="schedule.schedule_time" formControlName='schedule_time' autofocus autocomplete="off" >   
          <label [class.red-text] = "emschedule_time.control.isInvalidControl()" for="estimated_time" >Schedule Time</label>
          <app-error-message #emschedule_time [group] = "scheduleFormGroup" controlName = "schedule_time" ></app-error-message>
        </div>
        
      </div>  

    </div>
    <div class="modal-footer" >
      <button class="left btn waves-effect waves-light" [disabled]="!scheduleFormGroup.valid" autofocus  type="submit" name="action" appConfirmDialog >Save
        <i class="material-icons right">send</i>
      </button>
      <a (click)="closeModal()" class = "right" >Cancel</a>
    </div>
  </form>

</div>



