<div class="row navbar col s12" style = "padding: 0 0.75rem;">
  <nav >
    <div class="nav-wrapper">
      
      <!--<a href="#" class="brand-logo right">Patient One</a>-->
      <ul id="nav-mobile" class="center">
        <li><a [routerLink] = "['dashboard']" class = "nav-item white-text" >About</a></li>
        <li><a [routerLink] = "['budgets']"  class = "nav-item white-text">Budget</a></li>
        <li><a [routerLink] = "['treatments']" class = "nav-item white-text" >Treatments</a></li>
        <li><a [routerLink] = "['anamnesis']" class = "nav-item white-text" >Anamnesis</a></li>
        <li><a href="badges.html" class = "nav-item white-text">Images</a></li>
        <li><a href="badges.html" class = "nav-item white-text">Documents</a></li>
        <li><a href="badges.html" class = "nav-item white-text">Debits</a></li>
        
      </ul>

      <a  [routerLink] = "['edit']" class="btn-floating btn-large waves-effect waves-light ">
        <i class="material-icons">edit</i>
      </a>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>